1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [76]:
l=[ ]
for i in range (1,101):
    if i%3==0 and i%5!=0:
        x="Mickey"
        print(x)
    elif i%5==0 and i%3!=0:
        x="Mouse"
        print(x)
    elif i%5==0 and i%3==0:
        x="MickeyMouse"
        print(x)
    else:
        x=i
        print(x)
        
        
    l.append(x)
    
for i in range (0, len(l)):
    if l[i]=="Mickey":
        l[i]="Donald"
        
    elif l[i]=="Mouse":
        l[i]="Duck"  
        
    elif l[i]=="MickeyMouse":
        l[i]="DonaldDuck"

print(l)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
#temporary variable
def sw1(x,y):
    temp=x
    x=y
    y=temp
    return x,y

t=1
v=2
t, v=sw1(t,v)
print(t)

2

In [6]:
#no temporary variable
def sw2(x,y):
    list=[y,x]
    x=list[0]
    y=list[1]
    return x,y

t=1
v=2
t, v=sw2(t,v)
print(t)

2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [7]:
def distance(u,v):
    dist= (((u[0]-v[0])**2)+((u[1]-v[1])**2))**0.5
    return dist
           
           
p1=[3,0]
p2=[0,4]
x=distance(p1,p2)
print(x)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [45]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#case insensitive
s_low= s.lower()
#dictionary comprehension
{i:s_low.count(i) for i in s_low}

{'w': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [44]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique=[x for x in l if l.count(x)==1] 
count=len(unique)
out_string="There are %d unique numbers in the list. The unique numbers are:" % (count)
print(out_string, unique)

There are 37 unique numbers in the list. The unique numbers are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [57]:
def square(n):
    return n*n

def cube(n):
    return n*n*n

def sixth(n):
    return cube(square(n))

print(square(2))
print(cube(2))
print(sixth(2))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [55]:
def cube(n):
    return n*n*n

#for loop method
cubes=[]
for i in range (0,11):
    cubes.append(cube(i))
    
print(cubes)   


#list comprehension method
l=[cube(x) for x in range (0,11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [72]:
l=[i for i in range (1,100)]

triples=[[x,y,z] for x in l for y in l for z in l if x*x + y*y == z*z and x<y]
print(triples)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [75]:
def norm(l):
    sum=0
    for i in l:
        sum+=i
    for j in range (0, len(l)):
        l[j]=l[j]/sum
    return l

list=[1,2, 3, 4, 5]
list_norm=norm(list)
print(list_norm)

[0.06666666666666667, 0.13333333333333333, 0.2, 0.26666666666666666, 0.3333333333333333]